*{
	margin: 0;
	padding: 0;
	list-style: 0;
	text-decoration: 0;
	font-family: "Rubik";

}
body{
	
}
/*Début du CSS pour le BIENVENUE*/
section#sec-1{
	width: 100%;
	height: 100vh;
}

section#sec-1 .bg{
	height: 100%;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

section#sec-1 .bg .container{
	text-align: center;
	color: white;
}

section#sec-1 .bg .container h1{
	font-size: 5em;
	font-family: "Rubik";
	font-weight: 600;
}

section#sec-1 .bg .container p{
	margin-bottom: 40px;
}

section#sec-1 .bg .container a.title-btn{
	background-color: white;
	padding: 1em 2em;
	border-radius: 10px;
	color: black;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
	text-decoration: none;
}

section#sec-1 .bg .container a.title-btn:hover{
	color: darkgoldenrod;
}


@media screen and (max-width: 609px){
	section#sec-1 .bg .container h1{
		font-size: 3em;

	}
	section#sec-1 .bg .container p{
		font-size: 0.75em;
		margin-bottom: 40px;
		padding-top: 10px;
	}

	section#sec-1 .bg .container a.title-btn{
		padding: 1em 2em;
		font-size: 0.75em;
	}
}

@media screen and (max-width: 295px){
	section#sec-1 .bg .container h1{
		font-size: 2em;
	}
	section#sec-1 .bg .container p{
		font-size: 0.5em;
		margin-bottom: 40px;
	}
	section#sec-1 .bg .container a.title-btn{
		padding: 1em 2em;
		font-size: 0.5em;
	}
}
/*Fin du CSS pour le BIENVENUE*/
/*Debut du CSS pour la section presentation*/
section#sec-2{
	padding: 50px 0 50px 0;
	background-color: white;
}

section#sec-2 h1{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.25em;
	padding-bottom: 50px;
}

section#sec-2 p.description{
	padding-top: 25px;
	padding-bottom: 40px;
}

section#sec-2 p.description-passion{
	padding-top: 43px;
	padding-bottom: 67px;
	background-color: white;
	box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
	-moz-box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
}

section#sec-2 p.description-metier{
	padding-top: 43px;
	padding-bottom: 67px;
	background-color: white;
	box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
	-moz-box-shadow: 1px 0px 34px -2px rgba(0,0,0,1);
}

section#sec-2 .jeuxvideos{
	border-radius: 50%;
}

section#sec-2 .metier{
	border-radius: 50%;
}

section#sec-2 .voirportfolio{
	text-decoration: none;
}

section#sec-3{
	padding: 50px 0 50px 0;
	background-color: #CECECE;
}

section#sec-3 h1{
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 20px;
}

section#sec-3 h2{
	font-weight: 300;
	font-size: 1.2em;
	padding-bottom: 30px;
}

section#sec-3 h3{
	padding-top: 30px;
	font-size: 1.25em;
}

section#sec-3 h4{
	color: #545454;
	padding-top: 0px;
	font-size: 0.8em;
	padding-bottom: 20px;
}

section#sec-3 img{
	padding-top: 50px;
}

section#sec-3 a.voirsite{
	text-transform: uppercase;
	text-decoration: none;
	background-color: white;
	border: 2px solid #B9EAFA;
	color: black;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	transition: all .3s;
}

section#sec-3 a.voirsite:hover{
	background-color: #B9EAFA;
	color: #fff;
}
/*Fin du CSS pour la section presentation*/
/*Debut du CSS pour la section Contact*/

section#sec-4{
	padding-bottom: 20px;
	background-image: url(../img/background.jpg);
	background-size: cover;
}
section#sec-4 h1{
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 50px;
}

section#sec-4 p{
	padding-top: 50px;
	color: white;
	font-weight: 700;
}
section#sec-4 p.gmail{
	padding-top: 10px;
	color: white;
	font-weight: 200;
}

section#sec-4 .reseaux{
	padding-top: 10px;
}

section#sec-4 a{
	padding: 15px;
}

section#sec-4 .copyright{
	padding-top: 100px;
}
/*Fin du CSS pour la section Contact*/
